.m-columns {
  --columns-gap: var(--spacing-2);
  --columns-left-width: 2fr;
  --columns-main-width: auto;
  --columns-right-width: 2fr;

  display: grid;
  gap: var(--columns-gap);
  grid-template-areas: "left main right";

  &.--no-gap {
    --columns-gap: 0;
  }

  &.m-columns__left {
    grid-area: left;
  }

  &.m-columns__main {
    grid-area: main;
  }

  &.m-columns__right {
    grid-area: right;
  }

  &:not(:has(.m-columns__left)) {
    grid-template-areas: "main right";
  }

  &:not(:has(.m-columns__right)) {
    grid-template-areas: "left main";
  }

  &:not(:has(.m-columns__left), :has(.m-columns__right)) {
    grid-template-areas: "main";
  }

  @media (--media-breakpoint-max-sm) {
    grid-template-areas: "left" "main" "right";
    grid-template-columns: 1fr;

    &:not(:has(.m-columns__left)) {
      grid-template-areas: "main" "right";
    }

    &:not(:has(.m-columns__right)) {
      grid-template-areas: "left" "main";
    }
  }
}
