@import "./variables/base.css";

html {
  font-family: var(--font-family-base);
  line-height: var(--text-base--line-height);
  color: var(--color-text-default);
}

body {
  font-size: var(--text-base);
  font-weight: var(--font-weight-normal);
}
