@import "./variables/base.css";

html {
  font-family: var(--font-family-base);
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
}

body {
  font-weight: var(--font-weight-normal);
  color: var(--color-text-default);
  background-color: var(--color-bg-default);
}
