/*
  Configured based on Tailwind CSS

  ref: https://tailwindcss.com/docs/responsive-design
*/

:root {
  --media-2xl-max-width: 96rem; /* 1536px */
  --media-xl-max-width: 80rem; /* 1280px */
  --media-lg-max-width: 64rem; /* 1024px */
  --media-md-max-width: 48rem; /* 768px */
  --media-sm-max-width: 40rem; /* 640px */
}

/* NOTE: Polyfills are applied by PostCSS, so there is no problem */
/* stylelint-disable plugin/use-baseline */
@custom-media --media-breakpoint-2xl (width >=96rem);
@custom-media --media-breakpoint-xl (width >=80rem);
@custom-media --media-breakpoint-lg (width >=64rem);
@custom-media --media-breakpoint-md (width >=48rem);
@custom-media --media-breakpoint-sm (width >=40rem);
@custom-media --media-breakpoint-max-2xl (width < 96rem);
@custom-media --media-breakpoint-max-xl (width < 80rem);
@custom-media --media-breakpoint-max-lg (width < 64rem);
@custom-media --media-breakpoint-max-md (width < 48rem);
@custom-media --media-breakpoint-max-sm (width < 40rem);
/* stylelint-enable plugin/use-baseline */