.m-badge {
  --badge-padding: var(--spacing-1);
  --badge-item-gap: var(--spacing-2);
  --badge-text-color: var(--color-text-default);
  --badge-border-color: var(--color-default);
  --badge-border: 1px solid var(--badge-border-color);
  --badge-border-radius: var(--radius-sm);
  --badge-bg-color: var(--color-default);
  --badge-hover-filter: brightness(0.9);
  --badge-disabled-opacity: 0.65;
  --badge-transition-duration: 0.2s;
  --badge-transition-timing: ease;
  --badge-small-font-size: var(--text-xs);
  --badge-small-padding: var(--spacing-1);
  --badge-primary-color: var(--color-primary);
  --badge-primary-border-color: var(--color-primary);
  --badge-primary-text-color: var(--color-text-inverse);
  --badge-secondary-color: var(--color-secondary);
  --badge-secondary-border-color: var(--color-secondary);
  --badge-secondary-text-color: var(--color-text-inverse);
  --badge-tertiary-color: var(--color-tertiary);
  --badge-tertiary-border-color: var(--color-tertiary);
  --badge-tertiary-text-color: var(--color-text-default);
  --badge-danger-color: var(--color-danger);
  --badge-danger-border-color: var(--color-danger);
  --badge-danger-text-color: var(--color-text-default);
  --badge-warning-color: var(--color-warning);
  --badge-warning-border-color: var(--color-warning);
  --badge-warning-text-color: var(--color-text-default);
  --badge-line-height: var(--line-height-one);
  --badge-min-width: 1.8em;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--badge-min-width);
  border: var(--badge-border);
  border-radius: var(--badge-border-radius);
  background-color: var(--badge-bg-color);
  padding: var(--badge-padding);
  gap: var(--badge-item-gap);
  text-decoration: none;
  line-height: var(--badge-line-height);
  color: var(--badge-text-color);

  &:has(.icon, svg) {
    flex-shrink: 0;
  }

  /*
    NOTE: This selector targets the interactive elements within the badge component.
    `no-descending-specificity` is disabled because this is a common pattern for badges that are links or buttons.
  */
  /* stylelint-disable-next-line no-descending-specificity */
  &:where(a, button) {
    appearance: none;

    &:not(:disabled) {
      &:hover,
      &:focus {
        filter: var(--badge-hover-filter);
      }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &:disabled {
      cursor: not-allowed;
      opacity: var(--badge-disabled-opacity);
    }
  }

  &.--outline {
    background-color: transparent;

    &:where(a, button) {
      appearance: none;

      &:not(:disabled) {
        &:hover,
        &:focus {
          background-color: var(--badge-bg-color);
          color: var(--badge-text-color);
        }
      }
    }
  }

  &.--small {
    font-size: var(--badge-small-font-size);
    padding: var(--badge-small-padding);
  }

  &.--rounded {
    --badge-border-radius: var(--radius-full);
  }

  &.--primary {
    --badge-bg-color: var(--badge-primary-color);
    --badge-border-color: var(--badge-primary-border-color);
    --badge-text-color: var(--badge-primary-text-color);

    &.--outline {
      --badge-border-color: var(--badge-primary-border-color);

      color: var(--badge-primary-border-color);
    }
  }

  &.--secondary {
    --badge-bg-color: var(--badge-secondary-color);
    --badge-border-color: var(--badge-secondary-border-color);
    --badge-text-color: var(--badge-secondary-text-color);

    &.--outline {
      --badge-border-color: var(--badge-secondary-border-color);

      color: var(--badge-secondary-border-color);
    }
  }

  &.--tertiary {
    --badge-bg-color: var(--badge-tertiary-color);
    --badge-border-color: var(--badge-tertiary-border-color);
    --badge-text-color: var(--badge-tertiary-text-color);

    &.--outline {
      --badge-border-color: var(--badge-tertiary-border-color);

      color: var(--badge-tertiary-border-color);
    }
  }

  &.--danger {
    --badge-bg-color: var(--badge-danger-color);
    --badge-border-color: var(--badge-danger-border-color);
    --badge-text-color: var(--badge-danger-text-color);

    &.--outline {
      --badge-border-color: var(--badge-danger-border-color);

      color: var(--badge-danger-border-color);
    }
  }

  &.--warning {
    --badge-bg-color: var(--badge-warning-color);
    --badge-border-color: var(--badge-warning-border-color);
    --badge-text-color: var(--badge-warning-text-color);

    &.--outline {
      --badge-border-color: var(--badge-warning-border-color);

      color: var(--badge-warning-border-color);
    }
  }

  &.--transition {
    &:where(a, button) {
      transition:
        filter var(--badge-transition-duration) var(--badge-transition-timing),
        background-color var(--badge-transition-duration) var(--badge-transition-timing);
    }
  }
}
