input[type="checkbox"].m-checkbox {
  --checkbox-size: 1em;
  --checkbox-border-color: var(--color-text-default);
  --checkbox-mark-border: 2px solid transparent;
  --checkbox-mark-position-top: 0;
  --checkbox-mark-position-left: 20%;
  --checkbox-bg-color: var(--color-bg-muted);
  --checkbox-border-radius: 0.2em;
  --checkbox-lighter-brightness: 150%;
  --checkbox-disabled-opacity: 0.65;

  appearance: none;
  display: inline-block;
  background-color: var(--checkbox-bg-color);
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  position: relative;
  border: 2px solid var(--checkbox-border-color);
  border-radius: var(--checkbox-border-radius);
  cursor: pointer;
  /* NOTE: Non-critical property, so this is acceptable */
  /* stylelint-disable-next-line plugin/use-baseline */
  user-select: none;

  &::after {
    display: none;
    position: absolute;
    content: "";
    width: calc(var(--checkbox-size) / 2);
    height: calc(var(--checkbox-size) / 2);
    border: var(--checkbox-mark-border);
    border-top: 0;
    border-left: 0;
    left: var(--checkbox-mark-position-left);
    top: var(--checkbox-mark-position-top);
    transform: rotate(45deg);
  }

  &:checked {
    background-color: var(--color-primary);
    transition: background-color 0.2s ease;

    &::after {
      border-color: var(--color-text-inverse);
      display: block;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--checkbox-disabled-opacity);
  }

  &:hover,
  &:focus,
  &:focus-visible {
    filter: brightness(var(--checkbox-lighter-brightness));
    transition: filter 0.2s ease;

    &:disabled {
      filter: none;
    }
  }
}
