.m-link {
  --link-color: var(--color-secondary);
  --link-color-hover: rgb(from var(--link-color) r g b / 80%);
  --link-color-active: rgb(from var(--link-color) r g b / 50%);
  --link-color-visited: rgb(from var(--link-color) calc(r * 0.6) calc(g * 0.6) calc(b * 0.6));
  --link-text-decoration: underline;
  --link-underline-offset: 0.2em;

  cursor: pointer;
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
  text-underline-offset: var(--link-underline-offset);

  &:hover {
    color: var(--link-color-hover);
  }

  &:active {
    color: var(--link-color-active);
  }

  &:visited {
    color: var(--link-color-visited);
  }
}
