.navbar {
  --navbar-bg-color: var(--color-bg-light);
  --navbar-min-height: 56px;
  --navbar-item-padding: var(--spacing-2) var(--spacing-3);
  --navbar-item-gap: var(--spacing-2);
  --navbar-item-text-color: var(--color-text);
  --navbar-item-hover-bg-color: var(--color-primary);
  --navbar-item-hover-text-color: var(--color-text-light);
  --navbar-hamburger-icon-content: "☰";
  --navbar-hamburger-icon-size: 1.5rem;
  --navbar-hamburger-icon-color: var(--color-text);
  --navbar-hamburger-menu-bg-color: var(--color-bg-light);
  --navbar-hamburger-menu-border: 2px solid var(--color-bg-light);
  --navbar-hamburger-menu-border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
  --navbar-hamburger-menu-box-shadow: var(--shadow-md);
  --navbar-hamburger-menu-item-separate-border: 1px solid var(--color-bg-light);
  --navbar-hamburger-menu-zindex: var(--zindex-navbar);

  width: 100%;
  background-color: var(--color-bg-light);
  min-height: var(--navbar-min-height);
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  .navbar__title {
    display: inline-flex;
    align-items: center;
    padding: var(--navbar-item-padding);
    text-decoration: none;
    flex-shrink: 0;

    &:hover {
      background-color: initial;
      color: initial;
    }
  }

  .navbar__items {
    width: 100%;
    display: flex;
    align-items: stretch;
  }

  .navbar__item {
    display: inline-flex;
    align-items: center;
    padding: var(--navbar-item-padding);
    color: var(--navbar-item-text-color);
    text-decoration: none;

    &:where(a):hover {
      background-color: var(--navbar-item-hover-bg-color);
      color: var(--navbar-item-hover-text-color);
    }

    &:has(*) {
      gap: var(--navbar-item-gap);
    }

    &.--end {
      margin-left: auto;
    }
  }

  &.--transition {
    .navbar__item {
      transition: background-color 0.3s, color 0.3s;
    }
  }

  /* hamburger menu */

  .navbar__hamburger {
    padding: var(--navbar-item-padding);
    display: none;
  }

  .hamburger-menu {
    color: var(--navbar-hamburger-icon-color);
    text-decoration: none;

    &::before {
      content: var(--navbar-hamburger-icon-content);
      font-size: var(--navbar-hamburger-icon-size);
      line-height: 1;
    }
  }

  &:has(.navbar__hamburger) {
    /* TODO: use custom media queries */
    @media screen and (width < 768px) {
      /* eslint-disable-next-line css/no-invalid-at-rules */
      position: relative;

      .navbar__hamburger {
        display: inline-flex;
      }

      .navbar__items {
        z-index: var(--navbar-hamburger-menu-zindex);
        position: absolute;
        top: 100%;
        right: 0;
        width: min-content;
        flex-direction: column;
        align-items: stretch;
        border: var(--navbar-hamburger-menu-border);
        border-top: none;
        border-radius: var(--navbar-hamburger-menu-border-radius);
        box-shadow: var(--navbar-hamburger-menu-box-shadow);
        opacity: 0;
        visibility: hidden;
      }

      .navbar__item {
        &:not(:last-child) {
          border-bottom: var(--navbar-hamburger-menu-item-separate-border);
        }
      }

      &:has(.hamburger-menu[aria-expanded="true"]) {
        .navbar__items {
          visibility: visible;
          opacity: 1;
        }
      }

      &.--hover-hamburger-menu {
        &:has(.navbar__hamburger:hover),
        &:has(.navbar__items:hover),
        &:has(.navbar__item:focus),
        &:has(.navbar__item:focus-visible) {
          .navbar__items {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
