.m-navbar {
  --navbar-bg-color: var(--color-bg-light);
  --navbar-min-height: 56px;
  --navbar-item-padding: var(--spacing-2) var(--spacing-3);
  --navbar-item-gap: var(--spacing-2);
  --navbar-item-text-color: var(--color-text);
  --navbar-item-hover-bg-color: var(--color-primary);
  --navbar-item-hover-text-color: var(--color-text-light);
  --navbar-hamburger-icon-content: "☰";
  --navbar-hamburger-icon-close-content: "×";
  --navbar-hamburger-icon-size: 1.5rem;
  --navbar-hamburger-icon-padding: 0 var(--spacing-2);
  --navbar-hamburger-icon-color: var(--color-text);
  --navbar-hamburger-icon-hover-bg-color: color(from var(--navbar-bg-color) srgb calc(r * 0.8) calc(g * 0.8) calc(b * 0.8));
  --navbar-hamburger-icon-border-radius: var(--radius-sm);
  --navbar-hamburger-menu-size: 2.5rem;
  --navbar-hamburger-menu-bg-color: var(--color-bg-light);
  --navbar-hamburger-menu-border: 2px solid var(--color-bg-light);
  --navbar-hamburger-menu-border-radius: 0 0 var(--radius-sm) var(--radius-sm);
  --navbar-hamburger-menu-box-shadow: var(--shadow-md);
  --navbar-hamburger-menu-item-separate-border: 1px solid var(--color-bg-light);
  --navbar-base-zindex: var(--zindex-navbar);
  --navbar-backdrop-zindex: calc(var(--navbar-base-zindex) + 1);
  --navbar-menu-zindex: calc(var(--navbar-backdrop-zindex) + 1);
  --navbar-hamburger-menu-zindex: calc(var(--navbar-menu-zindex) + 1);
  --navbar-hamburger-menu-slidein-transition: 0.25s ease-in-out;
  --navbar-hamburger-menu-hover-item-transition: 0.3s ease-in-out;
  --navbar-hamburger-float-menu-position-right: var(--spacing-2);
  --navbar-hamburger-side-menu-close-x-position: var(--spacing-3);
  --navbar-hamburger-side-menu-close-y-position: var(--spacing-2);
  --navbar-hamburger-side-menu-max-width: 80vw;
  --navbar-hamburger-side-menu-min-width: 40vw;
  --navbar-hamburger-side-menu-backdrop-color: var(--color-overlay);
  --navbar-hamburger-side-menu-backdrop-filter: blur(2px);

  min-width: 100%;
  width: max-content;
  background-color: var(--navbar-bg-color);
  min-height: var(--navbar-min-height);
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  .m-navbar__title {
    display: inline-flex;
    align-items: center;
    padding: var(--navbar-item-padding);
    text-decoration: none;
    flex-shrink: 0;

    &:hover {
      background-color: initial;
      color: initial;
    }
  }

  .m-navbar__items {
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: var(--navbar-items-gap);
  }

  .m-navbar__item {
    display: inline-flex;
    align-items: center;
    padding: var(--navbar-item-padding);
    color: var(--navbar-item-text-color);
    text-decoration: none;

    &:has(*) {
      gap: var(--navbar-item-gap);
    }

    &:has(a) {
      padding: initial;
    }

    a {
      display: inline-flex;
      width: 100%;
      height: 100%;
      padding: var(--navbar-item-padding);
      align-items: center;
      text-decoration: none;
    }

    &:has(a):hover {
      background-color: var(--navbar-item-hover-bg-color);
      color: var(--navbar-item-hover-text-color);
    }

    &.--end {
      margin-left: auto;
    }
  }

  &.--transition {
    @media (--media-breakpoint-max-md) {
      &.--mobile-side-menu {
        .m-navbar__items {
          transition: transform var(--navbar-hamburger-menu-slidein-transition),
            opacity var(--navbar-hamburger-menu-slidein-transition),
            visibility var(--navbar-hamburger-menu-slidein-transition);
        }
      }
    }

    /* NOTE: Transitions are only set within `--transition`, so there is no problem */
    /* stylelint-disable-next-line no-descending-specificity */
    .m-navbar__item {
      transition: background-color var(--navbar-hamburger-menu-hover-item-transition),
        color var(--navbar-hamburger-menu-hover-item-transition);
    }
  }

  /* hamburger menu */

  .m-navbar__hamburger {
    padding: var(--navbar-item-padding);
    display: none;
  }

  .m-navbar__hamburger-menu {
    height: var(--navbar-hamburger-menu-size);
    width: var(--navbar-hamburger-menu-size);
    display: inline-block;
    background-color: var(--navbar-bg-color);
    color: var(--navbar-hamburger-icon-color);
    text-decoration: none;
    padding: var(--navbar-hamburger-icon-padding);
    border-radius: var(--navbar-hamburger-icon-border-radius);

    &:hover {
      background-color: var(--navbar-hamburger-icon-hover-bg-color);
    }

    &::before {
      content: var(--navbar-hamburger-icon-content);
      font-size: var(--navbar-hamburger-icon-size);
      line-height: var(--line-height-none);
    }

    &[aria-expanded="true"] {
      &::before {
        content: var(--navbar-hamburger-icon-close-content);
      }
    }
  }

  @media (--media-breakpoint-max-md) {
    &:has(.m-navbar__hamburger) {
      position: relative;
      z-index: var(--navbar-base-zindex);

      .m-navbar__hamburger {
        display: inline-flex;
      }

      .m-navbar__items {
        z-index: var(--navbar-menu-zindex);
        visibility: hidden;
        opacity: 0;
      }
    }

    &:has(.m-navbar__hamburger-menu[aria-expanded="true"]) {
      .m-navbar__items {
        visibility: visible;
        opacity: 1;
      }
    }

    /* Floating Menu */
    &.--mobile-float-menu {
      /* NOTE: It is not a problem to overwrite it because I want to prioritize the display with `.m-navbar__hamburger-menu[aria-expanded="true"]` */
      /* stylelint-disable-next-line no-descending-specificity */
      .m-navbar__items {
        position: absolute;
        top: 100%;
        right: var(--navbar-hamburger-float-menu-position-right);
        width: min-content;
        flex-direction: column;
        align-items: stretch;
        background-color: var(--navbar-hamburger-menu-bg-color);
        border: var(--navbar-hamburger-menu-border);
        border-top: none;
        border-radius: var(--navbar-hamburger-menu-border-radius);
        box-shadow: var(--navbar-hamburger-menu-box-shadow);
      }

      .m-navbar__item {
        &:last-child {
          border-radius: var(--navbar-hamburger-menu-border-radius);
        }

        &:not(:last-child) {
          border-bottom: var(--navbar-hamburger-menu-item-separate-border);
        }
      }
    }

    /* Side Menu */
    /*
      TODO: When the window size changes from PC to Mobile,
            the animation for switching the visibility of the side menu runs and the layout is slightly disrupted.
    */
    &.--mobile-side-menu {
      /* backdrop */
      &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--navbar-hamburger-side-menu-backdrop-color);
        backdrop-filter: var(--navbar-hamburger-side-menu-backdrop-filter);
        z-index: var(--navbar-backdrop-zindex);
        display: none;
      }

      /* NOTE: It is not a problem to overwrite it because I want to prioritize the display with `.m-navbar__hamburger-menu[aria-expanded="true"]` */
      /* stylelint-disable-next-line no-descending-specificity */
      .m-navbar__items {
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: min-content;
        min-width: var(--navbar-hamburger-side-menu-min-width);
        max-width: var(--navbar-hamburger-side-menu-max-width);
        flex-direction: column;
        align-items: stretch;
        background-color: var(--navbar-hamburger-menu-bg-color);
        box-shadow: var(--navbar-hamburger-menu-box-shadow);
        overflow-y: scroll;
      }

      .m-navbar__item {
        &:not(:last-child) {
          border-bottom: var(--navbar-hamburger-menu-item-separate-border);
        }
      }

      &:has(.m-navbar__hamburger-menu[aria-expanded="true"]) {
        /* NOTE: show backdrop */
        &::after {
          display: initial;
        }

        .m-navbar__items {
          transform: translateX(0);
        }

        .m-navbar__hamburger-menu {
          position: absolute;
          top: var(--navbar-hamburger-side-menu-close-y-position);
          left: var(--navbar-hamburger-side-menu-close-x-position);
          z-index: var(--navbar-hamburger-menu-zindex);
        }
      }

      &:has(.m-navbar__hamburger-menu[aria-expanded="false"]) {
        .m-navbar__items {
          transform: translateX(100%);
        }
      }

      &.--slide-left {
        /* NOTE: It is not a problem to overwrite it because I want to prioritize the display with `.m-navbar__hamburger-menu[aria-expanded="true"]` */
        /* stylelint-disable-next-line no-descending-specificity */
        .m-navbar__items {
          right: auto;
          left: 0;
        }

        &:has(.m-navbar__hamburger-menu[aria-expanded="true"]) {
          .m-navbar__items {
            transform: translateX(0);
          }

          .m-navbar__hamburger-menu {
            left: initial;
            right: var(--navbar-hamburger-side-menu-close-x-position);
          }
        }

        &:has(.m-navbar__hamburger-menu[aria-expanded="false"]) {
          .m-navbar__items {
            transform: translateX(-100%);
          }
        }
      }
    }

    /* Experimental: css only open menu on hover */
    &.--hover-hamburger-menu {
      &:has(.m-navbar__hamburger:hover),
      &:has(.m-navbar__hamburger-menu:hover),
      &:has(.m-navbar__items:hover) {
        &.--mobile-side-menu {
          .m-navbar__items {
            transform: translateX(0);
          }

          /* NOTE: show backdrop */
          &::after {
            display: initial;
          }
        }

        .m-navbar__hamburger-menu {
          &::before {
            content: var(--navbar-hamburger-icon-close-content);
          }
        }

        /* NOTE: To make it easier to remove, the display processing during hover is placed here */
        /* stylelint-disable-next-line no-descending-specificity */
        .m-navbar__items {
          visibility: visible !important;
          opacity: 1 !important;
        }
      }
    }
  }
}
