input[type="radio"].m-radio {
  --radio-size: 1em;
  --radio-border-color: var(--color-text-default);
  --radio-mark-bg-color: var(--color-text-inverse);
  --radio-mark-color: var(--color-primary);
  --radio-bg-color: var(--color-bg-muted);
  --radio-lighter-brightness: 150%;
  --radio-disabled-opacity: 0.65;

  appearance: none;
  display: inline-block;
  background-color: var(--radio-bg-color);
  width: var(--radio-size);
  height: var(--radio-size);
  position: relative;
  border: 2px solid var(--radio-border-color);
  border-radius: var(--radius-full);
  cursor: pointer;
  /* NOTE: Non-critical property, so this is acceptable */
  /* stylelint-disable-next-line plugin/use-baseline */
  user-select: none;

  &::after {
    display: none;
    position: absolute;
    content: "";
    width: calc(var(--radio-size) / 2);
    height: calc(var(--radio-size) / 2);
    background-color: transparent;
    border-radius: var(--radius-full);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:checked {
    background-color: var(--radio-mark-bg-color);
    transition: background-color 0.2s ease;

    &::after {
      background-color: var(--radio-mark-color);
      display: block;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--radio-disabled-opacity);
  }

  &:hover,
  &:focus,
  &:focus-visible {
    filter: brightness(var(--radio-lighter-brightness));
    transition: filter 0.2s ease;

    &:disabled {
      filter: none;
    }
  }
}
